<div class="wrapper">
  <div class="page-header section-dark" style="background-image: url('assets/img/foto02.jpg')">
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="motto text-center">
          <h1>Regras do UWW Grappling</h1>
          <h3>O Grappling praticado sob as regras da United World Wrestling proporciona competições entre os praticantes
            das lutas "agarradas" de todo o mundo, com organização e estrutura comparáveis aos eventos dos estilos
            olímpicos.
          </h3>
          <br />
          <h3>
            No link abaixo é possível fazer o download do documento completo com as regras atualizadas;
          </h3>
          <br />
          <a class="btn btn-outline-neutral btn-round"
            href="https://unitedworldwrestling.org/sites/default/files/2019-03/190322_gp_rules_en.pdf"><i
              class="fa fa-play"></i>English</a>
          <a class="btn btn-outline-neutral btn-round"
            href="https://unitedworldwrestling.org/sites/default/files/2019-03/190322_gp_rules_fr.pdf"><i
              class="fa fa-play"></i>Français</a>
          <br />
        </div>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="section section-dark">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <h2 class="title">Tapete de Lutas</h2><br />
            <p class="description">
              A Luta Olímpica é disputada em um tapete de lutas de 12 x 12 metros. Dentro do tapete, três círculos
              representam. Além de dois espaços dedicados a cada treinador.

              Área ou círculo central – Área destinada ao início e reinício do combate.
              Área de combate – Local onde ocorre o combate, nesta área todos os pontos são assinalados.
              Área de passividade – Esta área marca o limite da área de combate, todos os pontos que acontecem nesta
              área são computados.
              Área de Proteção – Esta área marca a zona de proteção, nesta área somente são computadas as ações que se
              iniciam dentro da área de combate e terminam na zona de proteção, porém nenhuma ação que se inicie nesta
              área é validada.
              Área técnica – Este setor do tapete de luta é destinado ao treinador do atleta com a vestimenta de acordo
              com a cor da área.

            </p><br />
          </div>
          <br />
          <div class="col-lg-6 col-md-12 space-top">
            <div class="card page-carousel">
              <ngb-carousel>
                <ng-template ngbSlide>
                  <img src="./assets/img/arena.jpg" alt="Random first slide">
                  <div class="carousel-caption">
                    <div class="text-back-black">
                      <h3>Tapete</h3>
                    </div>
                  </div>
                </ng-template>
              </ngb-carousel>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <h2 class="title">Uniforme</h2><br />
            <p class="description">
              Os atletas utilizam como uniforme uma a malha obrigatoriamente azuis ou vermelhas e uma sapatilha.
            </p><br />
          </div>
          <br />
          <div class="col-lg-6 col-md-12 space-top">
            <div class="card page-carousel">
              <ngb-carousel>
                <ng-template ngbSlide>
                  <img src="./assets/img/uniforme.jpg" alt="Random first slide">
                  <div class="carousel-caption">
                    <div class="text-back-black">
                      <h3>Uniforme</h3>
                    </div>
                  </div>
                </ng-template>
              </ngb-carousel>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section landing-section">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mr-auto ml-auto">
            <h2 class="text-center">Nos envie um feedback ou mande sua dúvida.</h2>
            <form class="contact-form">
              <div class="row">
                <div class="col-md-6">
                  <label>Nome</label>
                  <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Nome" (focus)="focus=true"
                      (blur)="focus=false">
                  </div>
                </div>
                <div class="col-md-6">
                  <label>Email</label>
                  <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                    <div class="input-group-prepend">
                      <span class="input-group-text"> <i class="nc-icon nc-email-85"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Email" (focus)="focus1=true"
                      (blur)="focus1=false">
                  </div>
                </div>
              </div>
              <label>Mensagem</label>
              <textarea class="form-control" rows="4" placeholder="Escreva sua mensagem..."></textarea>
              <div class="row">
                <div class="col-md-4 mr-auto ml-auto">
                  <button class="btn btn-success btn-lg btn-fill">Enviar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>