<div class="wrapper">
  <div class="page-header section-dark" style="background-image: url('assets/img/foto03.jpg')">
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="motto text-center">
          <h1>Calendário 2019</h1>
          <h3><b>Volte em breve e confira aqui o calendário de competições de UWW Grappling no Brasil e no mundo</b>.</h3>
          <br />
        </div>
      </div>
    </div>
  </div>
  <div class="main">
    <!-- <div class="section section-dark">
      <div class="container">
        <div class="row">
          <div class="col-md-8 text-center">
          </div>
        </div>
      </div>
    </div> -->
  </div>

</div>