<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/foto01.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="motto text-center">
                    <h1>UWW Grappling</h1>
                    <h3>O verdadeiro <b>Grappling</b> mundial com a organização da <b>United World Wrestling (UWW)</b>,
                        a maior e mais importante federação mundial de lutas.</h3>
                    <img src="assets/img/logo_uww.png" width="70px" height="100px" alt="">
                    <br />
                    <br />

                    <a class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Conhecer</a>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="section section-dark section-nucleo-icons">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <h2 class="title">O Grappling e seus estilos</h2><br />
                        <p class="description">
                            Grappling é uma expressão mundialmente utilizada para generalizar qualquer estilo de luta
                            agarrada, seja em pé ou no solo. É a arte de controlar o corpo do oponente sem golpes de
                            impacto, ou seja, através principalmente de quedas, imobilizações e chaves. Veja abaixo os
                            principais exemplos de esportes e artes marciais identificadas com essa denominação:
                        </p>
                        <ul>
                            <li>
                                Wrestling
                            </li>
                            <li>
                                Jiu-Jitsu
                            </li>
                            <li>
                                Luta Livre
                            </li>
                            <li>
                                Submission Wrestling
                            </li>
                            <li>
                                Judo
                            </li>
                            <li>
                                Sumô
                            </li>
                            <li>
                                Sambo
                            </li>
                        </ul>
                        <p class="description">

                            As competições Grappling oganizadas sob as regras da UWW são divididas entre Gi (com
                            quimono) e No-Gi (sem quimono), preferencialmente praticado no Tapete Olímpico, mesmo
                            utilizado no Wrestling, e que oferece maior segurança para os atletas.

                        </p>
                        <br />
                        <a [routerLink]="['/praticar']" class="btn btn-success btn-round">Onde praticar?</a>
                        <a [routerLink]="['/grapper']" class="btn btn-outline-success btn-round" target="_blank">Você é
                            um Grapper?</a>
                    </div>
                    <br />
                    <div class="col-lg-6 col-md-12 space-top">
                        <div class="card page-carousel">
                            <ngb-carousel>
                                <ng-template ngbSlide>
                                    <img src="./assets/img/soroush-karimi.jpg" alt="Random first slide">
                                    <div class="carousel-caption">
                                        <div class="text-back-black">
                                            <h3>NO-GI</h3>
                                            <p>Modalidade praticada sem quimono</p>
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img src="./assets/img/federico-beccari.jpg" alt="Random second slide">
                                    <div class="carousel-caption">
                                        <div class="text-back-black">
                                            <h3>GI</h3>
                                            <p>Modalidade praticada com quimono</p>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngb-carousel>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">A expansão do Grappling</h2>
                        <p class="description">Confira as últimas notícias do Grappling.
                        </p>
                        <button class="btn btn-light btn-block btn-success"
                            [routerLink]="['/noticias']">Conferir</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Gostou do que viu?</h2>
                        <p class="description">
                            Acompanhe os posts em nosso blog! Estamos sempre em postando novidades e matérias
                            sobre o Grappling aproveite e deixe seu feedback!</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 download-area ml-auto mr-auto">
                        <a href="" class="btn btn-warning btn-round">Deixe seu feedback</a>
                        <a href="" class="btn btn-danger btn-round">Acompanhe nosso blog</a>
                    </div>
                </div>
                <div class="row justify-content-md-center sharing-area text-center">
                    <div class="text-center col-md-12 col-lg-8">
                        <h3>Obrigado pela visita!</h3>
                    </div>
                    <div class="text-center col-md-12 col-lg-8">
                        <a href="" class="btn btn-google-bg google-bg twitter-sharrre btn-round" rel="tooltip"
                            title="Tweet!">
                            <i class="fa fa-instagram"></i> Instagram
                        </a>
                        <a href="" class="btn btn-facebook-bg facebook-sharrre btn-round" rel="tooltip" title="Share!">
                            <i class="fa fa-facebook-square"></i> Facebook
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>