<div class="wrapper">
  <div class="page-header section-dark" style="background-image: url('assets/img/foto05.jpg')">
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="motto text-center">
          <h1>Brasil Grappling Team</h1>
          <h3>A melhor equipe de Grappling do mundo está quase pronta!
            O Brasil Grappling Cup'19 é a próxima oportunidade para fazer parte deste Dream Team da
            luta agarrada.</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="section section-dark section-nucleo-icons">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <h2 class="title">O Grappling e seus estilos</h2><br />
            <p class="description">
              Grappling é uma expressão mundialmente utilizada para generalizar qualquer estilo de luta
              agarrada, seja em pé ou no solo. É a arte de controlar o corpo do oponente sem golpes de
              impacto, ou seja, através principalmente de quedas, imobilizações e chaves. Veja abaixo os
              principais exemplos de esportes e artes marciais identificadas com essa denominação:
            </p>
            <ul>
              <li>
                PROXIMAS COMPETIÇÕES
              </li>
              <li>
                GALERIA DE FOTOS E VIDEOS
              </li>
              <li>
                ÚLTIMOS RESULTADOS
              </li>
            </ul>
            <br />
          </div>
          <br />
          <div class="col-lg-6 col-md-12 space-top">
            <div class="card page-carousel">
              <ngb-carousel>
                <ng-template ngbSlide>
                  <img src="./assets/img/foto04.jpg" alt="Random first slide">
                  <!-- <div class="carousel-caption">
                    <div class="text-back-black">
                      <h3>NO-GI</h3>
                      <p>Modalidade praticada sem quimono</p>
                    </div>
                  </div> -->
                </ng-template>
                <ng-template ngbSlide>
                  <img src="./assets/img/foto02.jpg" alt="Random second slide">
                  <!-- <div class="carousel-caption">
                    <div class="text-back-black">
                      <h3>GI</h3>
                      <p>Modalidade praticada com quimono</p>
                    </div>
                  </div> -->
                </ng-template>
              </ngb-carousel>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>